@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Mvc
@inject AuthenticationStateProvider AuthStateProvider

<header class="header">
    <a href="/" class="logo">
        <img src="logo.png" alt="Site Logo" class="logo">
    </a>

    <div class="nav-buttons">
        <a href="/games">Games</a>
        <a href="/leaderboard">Leaderboard</a>
        <a href="/achievements">Achievements</a>
    </div>

     <div class="profile">
@*       <AuthorizeView>
            <Authorized>

            </Authorized>
            <NotAuthorized>
                <a href="/steam-auth/login" class="steam-login-button">
                    <img src="steam-login-button.png" alt="Login via Steam" />
                </a>
            </NotAuthorized>
        </AuthorizeView>  *@

        <div class="user-info">
            <a href="/profile" class="profile-link">
                <img src="https://avatars.fastly.steamstatic.com/2d886481e3244603968c830e15a7b81a1b0d07a1_full.jpg" alt="Profile Picture">
            </a>
            <span>ManoKiku</span>
            <!--  <button @onclick="Logout">Logout</button> -->
        </div>
        <!-- Uncomment the line below to show the Register button if necessary -->
        <!-- <a href="/register" class="register-btn">Register with Steam</a> -->
    </div>
</header>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>
    <div class="footer-content">
        © 2025 Badluck Achievements. All rights reserved.
        <a href="https://github.com/ManoKiku" target="_blank">GitHub</a>
    </div>
</footer>