@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Achivments project</h1>
Welcome to achivments project site!

<input type="text" @onchange="ChangeId">

<button class="btn btn-primary" @onclick="ShowTable">Change table</button>

<AchivmentsTable @ref="achivmentsTable" gameId="@gameId"/>

@code{
    public int gameId = 0;
    private AchivmentsTable? achivmentsTable;

    private void ChangeId(ChangeEventArgs e)
    {
        int.TryParse(e.Value.ToString(), out gameId);
    }

    private async Task ShowTable()
    {
        if (achivmentsTable != null)
        {
            await achivmentsTable.LoadAchievements();
        }
    }
}